<h1>WELCOME!!</h1>
<div class="container">
    <!-- 
    -- Href is the basic attribute provided by Html to navigate through pages which RELOADS the page on click. 
    -- RouterLink is the attribute provided by angular to navigate to different components WITHOUT RELOAD the page. 
    -->
    You can manage your Todos <a routerLink="/todos">here</a>
</div>

<div class="container">
    Click here to get a customised welcome message
    <button (click)="getWelcomeMessage()" class="btn btn-success">Get Welcome Message</button>
</div>


<div class="container" *ngIf="welcomeMessageFromService">
    <h2>Your customised welcome Message</h2>
    {{welcomeMessageFromService}}
</div>