<h1> MY TODO's</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>isCompleted?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <!-- pipe is used to convert one value to another -->
                <!-- like full date to formatted date and UPPERCASE -->
                <td>{{todo.targetDate | date | uppercase}}</td>
                <td>{{todo.done}}</td>
            </tr>
        </tbody>
    </table>
</div>